<mat-toolbar style="background-color: #A6242F; color:white;">
    <mat-toolbar-row>
    <span>Notícias de Araras e Região</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid col-sm" style="float:left;background-color:#F2E8DF;">
    <div class="row">
        <div class="card example-card" style="width: 18rem;" *ngFor="let feed of feeds">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-header">{{feed.title}}</div>
            <div [innerHTML]="feed.description" class="card-body"></div>
            <div class="card-footer"><a href="{{feed.guid}}">{{feed.guid}}</a></div>
          </div>
    </div>
</div>
  