<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="../../assets/recomendacao1.jpg"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/saude.jpg" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container-fluid col-sm" style="float:left;background-color:#F2E8DF;">
    <div class="row">
        <div class="card example-card" style="width: 18rem;" *ngFor="let feed of feeds">
            <div class="card-header">{{feed.title}}</div>
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div [innerHTML]="feed.description" class="card-body"></div>
            <div class="card-footer" style="background-color: #8DBF5A;"><a style="cursor: pointer;color: white;"href="{{feed.guid}}">{{feed.guid}}</a></div>
          </div>
    </div>
</div>
  